@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* The rest of your CSS styles */


header {
    height: 45px;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
  }
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
}

.header-banner {
  background-color: #f1f1f1;
  color: #333;
  padding: 2rem;
}

.header-banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.header-banner p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.body {
  margin: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ff0000;
}
