@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* The rest of your CSS styles */


header {
    height: 45px;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
  }
  
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
}

.header-banner {
  background-color: #262626;
  color: #f4f4f4;
  padding: 1rem;
}

.landing-page-heading {
  font-size: 2rem;
  line-height: 2.5rem;
}

.header-banner-roles-heading {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.header-banner p {
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  margin: 0 !important;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #ff0000;
}
